$main-color: #39f;
$text-color1: #666;
$text-color2: #fff;

// from coolors
$color1: rgba(0, 117, 189, 1);
$color2: rgba(46, 142, 201, 1);
$color3: rgba(69, 154, 207, 1);
$color4: rgba(92, 167, 213, 1);
$color5: rgba(232, 232, 232, 1);

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100%;
}

.main-container {
    background-color: $color1;
    height: 60vh;
    width: 100%;
}

.main-container-info {
    padding-top: 20vh;
}

.main-profile-pic {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.main-profile-pic img {
    min-width: 100%;
    height: auto;
}

.main-profile-name {
    font-size: 40px;
    color: $text-color2;
}

.main-profile-info {
    position: relative;
    height: 200px;
    width: 500px;
}

.main-profile-right {
    background-color: $color1;
    color: $color5;
}

.main-profile-right img {
    width: 50px;
}

.main-profile-left {
    color: $color5;
}

.second-container {
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.card-showcase {
    width: 500px;
}

.card-showcase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-showcase img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.card-desc h3, p {
    color: $text-color1;
}

.blog-container {
    background-color: $color5;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#body-login {
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100vh;
}

#footer {
    height: 10vh;
    margin-bottom: 0px;
    padding-top: 20px;
    background-color: $color1;
    text-align: center;
}

#footer p {
    color: $text-color2;
}