nav.uk-navbar-container(uk-navbar)
    .uk-navbar-left
        ul.uk-navbar-nav
            li.uk-active
                a(href="/") anditakaesar.com
            li
                a(href="#myworks", uk-scroll) My Works
            li
                a(href="/bloghome.html") Blogs
            li
                a(href="/login.html") Admin Page