nav.uk-navbar-container(uk-navbar)
    .uk-navbar-left
        ul.uk-navbar-nav
            li.uk-active
                a(href="#") anditakaesar.com
            li
                a(href="#") My Works
            li
                a(href="#") Blogs