footer.container.p-5
  .row.px-3
    .col-sm-12.col-md-6.mb-2
      .list-group-flush
        a.list-group-item.list-group-item-action(href="#") Linkedin
        a.list-group-item.list-group-item-action(href="#") Github
        a.list-group-item.list-group-item-action(href="#") Twitter
        a.list-group-item.list-group-item-action(href="#") Telegram
    .col-sm-12.col-md-6
      .card
        .card-body.p-2
          <a class="twitter-timeline" data-height="300" href="https://twitter.com/anditakaesar?ref_src=twsrc%5Etfw">Tweets by anditakaesar</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  .row.justify-content-center.p-3.bg-light.mt-5
    .col
      p.text-center &copy; #[a.text-info(href="#") anditakaesar] 2020